<div class="container">
    <h3 class="text-center mt-4 mb-3">Customer List</h3>
    <!-- <button type="button" class="btn btn-primary" (click)="navigateToAddCustomer()">Add Customer</button> -->
</div>
<div class="container">
    <table class="table table-striped table-hover">
        <thead class="table-success">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Company</th>
                <th>Action</th>
                <!-- <th>Create</th>
                <th>Updade</th>
                <th>Status</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of customer |async">
                <td>{{customer.name}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.phone}}</td>
                <td>{{customer.company}}</td>
        
                <td>
                    <button class="btn btn-info m-1 p-1" (click)="updateCustomer(customer.id)">Edit</button>
                    <button class="btn btn-danger m-1 p-1" (click)="deleteCustomer(customer.id)">Delete</button>
        
                </td>
        
            </tr>
        
        </tbody>
    
    </table>
    

</div>
