<div class="container">
    <h3 class="text-center mt-4 mb-3">Interaction List</h3>
</div>

<div>
    <ul class="list-group">
        <li *ngFor="let interaction of interactions" class="list-group-item d-flex justify-content-between align-items-center">
            <div>
                <strong>Contact: {{ interaction.type }}</strong> ,Notes: {{ interaction.notes }}
                <div>
                    <em>Location: </em> {{ interaction.customer.name }}, {{ interaction.customer.email }} <br>
                    <em>Cell No: </em> {{ interaction.date}}
                </div>
            </div>
            <div>
                <button class="btn btn-sm btn-danger me-2" (click)="deleteInteraction(interaction.id)">Delete</button>
                <button class="btn btn-sm btn-primary" (click)="editInteraction(interaction)">Edit</button>
            </div>
        </li>
    </ul>
</div>


