<div class="sidenav" id="sidenav">
  
  <a href="#" class="nav-link"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
  <a href="/viewuser" class="nav-link"><i class="fa-solid fa-users"></i> Users </a>



  <div class="dropdown">
    <a href="#" class="nav-link dropdown-toggle" id="usersDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa-solid fa-check"></i> Activities
    </a>
    <div class="dropdown-menu bg-dark" aria-labelledby="usersDropdown">
      <a class="dropdown-item" href="/createact">Create Act</a>
      <a class="dropdown-item" href="/viewact">View Act</a>
    </div>
  </div>


  <div class="dropdown">
    <a href="#" class="nav-link dropdown-toggle" id="usersDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa-regular fa-paper-plane"></i> Customers
    </a>
    <div class="dropdown-menu bg-dark" aria-labelledby="usersDropdown">
      <a class="dropdown-item" href="/createcustomer">Add Customer</a>
      <a class="dropdown-item" href="/viewcustomer">Customers</a>
    </div>
  </div>


  <div class="dropdown">
    <a href="#" class="nav-link dropdown-toggle" id="usersDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa-solid fa-box"></i> Products
    </a>
    <div class="dropdown-menu bg-dark" aria-labelledby="usersDropdown">
      <a class="dropdown-item" href="/createproduct">Create</a>
      <a class="dropdown-item" href="/viewproduct">View</a>
    </div>
  </div>



  <div class="dropdown">
    <a href="#" class="nav-link dropdown-toggle" id="usersDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-clipboard-check"></i> Order
    </a>
    <div class="dropdown-menu bg-dark" aria-labelledby="usersDropdown">
      <a class="dropdown-item" href="/createorder">Create</a>
      <a class="dropdown-item" href="/">View</a>
    </div>
  </div>


  <div class="dropdown">
    <a href="#" class="nav-link dropdown-toggle" id="usersDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa-solid fa-box"></i> Task
    </a>
    <div class="dropdown-menu bg-dark" aria-labelledby="usersDropdown">
      <a class="dropdown-item" href="/">Create Task</a>
      <a class="dropdown-item" href="/viewtask">All Task</a>
    </div>
  </div>
  

  <a href="#" class="nav-link"><i class="fas fa-chart-line"></i> Analytics</a>
  <a href="#" class="nav-link"><i class="fas fa-envelope"></i> Messages</a>
  <a href="#" class="nav-link"><i class="fas fa-sign-out-alt"></i> Logout</a>
</div>