<div class="container">
  <table class="table table-striped">

      <thead>
          <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              
              <th>Action</th>
          </tr>
      </thead>

      <tbody>
          <tr *ngFor="let customer of customers |async">
              <td>{{customer.name}}</td>
              <td>{{customer.email}}</td>
              <td>{{customer.phone}}</td>
              
              <td>
                  <button class="btn btn-warning m-1 p-1" (click)="updateCustomer(customers.id)">Edit</button>
                  <button class="btn btn-danger m-1 p-1" (click)="deleteCustomer(customers.id)">Delete</button>

              </td>

          </tr>

      </tbody>



  </table>

</div>
