<div class="container">
    <h3 class="text-center mt-4 mb-3">New Customer</h3>
</div>

<form [formGroup]="formGroup">
<!-- <form [formGroup]="customer" (ngSubmit)="onSubmit()"> -->
    <div class="row">
        <div class="offset-2 col-md-4">
            <div class="mb-3">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" formControlName="email">
            </div>
            <div class="mb-3">
                <label class="form-label">Phone</label>
                <input type="text" class="form-control" formControlName="phone">
            </div>
            <div class="mb-3">
                <label class="form-label">Company</label>
                <input type="text" class="form-control" formControlName="company">
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="mb-3">
                <label class="form-label">Create</label>
                <input type="number" class="form-control" formControlName="createAt">
            </div>
            <div class="mb-3">
                <label class="form-label">Update</label>
                <input type="number" class="form-control" formControlName="updateAt">
            </div>
            <div class="mb-3">
                <label for="status" class="form-label">Status</label>
                <select class="form-select" id="status" formControlName="status">
                  <option value="Active">Active</option>
                  <option value="Inactive">Inactive</option>
                  <option value="Prospect">Prospect</option>
                  <option value="Lead">Lead</option>
                </select>
              </div>
              
            <button type="submit" class="btn btn-primary" (click)="createCustomer()">Submit</button>
        </div>
    </div>
</form>




